.textareaHolder{
    position: relative;
}
.inputHolder{
    position: relative;
}
.textAreaError textarea{
    border: 2px solid red;
    background-color: #f8beb3;
}
.inputError input{
    border: 2px solid red;
    background-color: #f8beb3;
}
.spanError{
    position: absolute;
    top: 300px;
    right: 250px;
    text-align: center;
    display: block;
    color: red;
    font-size: 30px;
}
.spanInpError{
    position: absolute;
    top: 20px;
    right: 100px;
    text-align: center;
    display: block;
    color: red;
    font-size: 30px;
}