.profile{
    padding-bottom: 100px;
}
.title{
    text-align: center;
    font-size: 60px;
    padding: 50px 0;
    color: #ff7f3a;
}
.profileHolder{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.avatarHolder{
    width: 500px;
}
.avatar{
    width: 80%;
    display: block;
    margin: 0 auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.propertiesHolder{
    width: 600px;
}
.propertyHeader{
    color: #ff7f3a;
}
.property{
    font-size: 30px;
    color: #666666;
    display: block;
    margin: 20px auto;
}
.post{
    width: 700px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    box-shadow: 4px 4px 4px #eeeeee,-4px -4px 4px #eeeeee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
}
.postAvatar{
    width: 150px;
    margin-right: 10%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.postText{
    font-size: 20px;
    margin-right: 10%;
    width: 300px;
    padding:0 30px;
}
.likesCount{
    font-size: 20px;
    color: #ff7f3a;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.likeBtn{
    width: 50px;
    height: 30px;
    background-color: #ff7f3a;
    color: #ffffff;
    font-size: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: none;
    display: block;
    margin-top: 30px;
}
.postForm{
    display: block;
    margin: 0 0 100px 0;
}
.textarea{
    display: block;
    width: 600px;
    height: 300px;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #ff7f3a;
    margin: 80px auto 30px auto;
    font-size: 20px;
    resize: none;
}
.postBtn{
    color: #ffffff;
    background-color: #ff7f3a;
    border: none;
    width: 150px;
    height: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: block;
    margin: 50px auto;
    font-size: 30px;
}
.postName{
    font-size: 20px;
    text-align: center;
}
.deleteButton{
    display: block;
    width: 100px;
    height: 40px;
    background-color: #ff7f3a;
    color: white;
    font-size: 20px;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.postList{
    display: flex;
    flex-direction: column-reverse;
}