.preloaderSmall{
    width: 20px;
    height: 20px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    background-color: #ffffff;
    animation: preloaderSmallAnimation ease-in-out infinite 1s;
}

@keyframes preloaderSmallAnimation {
    0% {transform: translateX(0px)}
    17% {transform: translateX(20px)}
    34% {transform: translateX(40px)}
    61% {transform: translateX(60px)}
    78% {transform: translateX(40px)}
    95% {transform: translateX(20px)}
    100% {transform: translateX(0px)}
}