.header{
    display: flex;
    justify-content: center;
    background-color: #282a29;
    padding: 20px 0;
    grid-area: header;
}
.header__logoWrapper{
    margin-right: 20%;
}
.header__logo{
    width: 100px;
}
.header__companyWrapper{
    margin-right: 20%;
}
.header__company{
    color: #e83349;
    font-size: 30px;
}
.login{
    font-size: 30px;
    color: white;
    text-decoration: none;
}
.defAvatar{
    width: 50px;
    border: 1px solid white;
    border-radius: 50%;
}