.header{
    display: flex;
    justify-content: center;
    background-color: #007EF5;
    padding: 10px 0;
}
.logo{
    width: 50px;
    margin-right: 20%;
}
.name{
    color: #ffffff;
    font-size: 20px;
    margin-right: 20%;
}
.login{
    color: #ffffff;
    font-size: 20px;
}
.authHolder{
    display: flex;
    justify-content: center;
}
.avatar{
    width: 40px;
}
.login{
    display: block;
    margin-left: 20px;
}
.link{
    text-decoration: none;
}