.navbar{
    width: 250px;
    padding: 50px 0 50px 50px;
    background-color: #fafafa;
}
.link{
    display: block;
    font-size: 30px;
    text-decoration: none;
    color: #666666;
    margin: 30px 0;
}
.activeLink{
    color: #ff7f3a;
}