.friends{
    padding-bottom: 100px;
}
.friends__heading{
    text-align: center;
    font-size: 40px;
    color: #e83349;
    padding-bottom: 50px;
}
.users__holder{
    max-width: 1300px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}