.user{
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 2px #eeeeee, -2px -2px 2px #eee;
    max-width: 550px;
    border-radius: 20px;
    margin: 20px;
    padding: 10px;
    transition: .3s;
}
.user:hover{
    transform: scale(1.02,1.02);
}
.user__avatar{
    width: 150px;
    display: block;
    border-radius: 20px;    
}
.user__inner{
    padding: 0 50px;
    width: 300px;
}
.user__property:first-child{
    color: tomato;
    font-size: 20px;
}
.user__property{
    color: #777;
}
.user__button{
    display: block;
    width: 100px;
    height: 40px;
    margin: 20px 0;
    border: 1px solid teal;
    background-color: transparent;
    border-radius: 10px;
    transition: .3s;
}
.user__button:hover{
    background-color: teal;
    color: #fff;
}