.info__holder{
    display: flex;
    justify-content: center;
}
.info__property{
    font-size: 20px;
}
.info__property:first-child{
    color: tomato;
    margin-right: 30px;
}
.info__property:nth-child(3){
    margin-left: 30px;
}
.avatar{
    display: block;
    margin: auto;
    margin-bottom: 50px;
}