.title{
    text-align: center;
    font-size: 60px;
    padding: 50px 0;
    color: #ff7f3a;
}
.form{
    width: 600px;
    margin: 100px auto;
}
.input{
    display: block;
    width: 400px;
    height: 30px;
    padding: 20px;
    margin: 20px auto;
    font-size: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.label{
    display: block;
    font-size: 30px;
    width: 400px;
    margin: 20px auto;
}
.checkbox{
    width: 30px;
    height: 30px;
    margin-right: 30px;
}
.button{
    width: 150px;
    height: 40px;
    background-color: #ff7f3a;
    color: #ffffff;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 30px auto;
    display: block;
    font-size: 30px;
}
.errorDiv{
    color: #ffffff;
    background-color: red;
    font-size: 30px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
}