.app__wrapper{
  max-width: 1600px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  'header header header header header header header header'
  'navbar content content content content content content content'
  'footer footer footer footer footer footer footer footer';
  box-shadow: 3px 3px 3px #eee, -3px -3px 3px #eee;
}
.contentWrapper{
  grid-area: content;
}