.dialogs{
    padding-bottom: 100px;
}
.dialogs__heading{
    text-align: center;
    font-size: 40px;
    color: #e83349;
    padding-bottom: 50px;
}
.dialogs__inner{
    display: flex;
    justify-content: center;
}
.dialogs__holder{
    margin: 0 5%;
}
.dialogs__title{
    color: teal;
    font-size: 40px;
}
.dialogs__userItem{
    font-size: 30px;
    text-decoration: none;
    color: #333;
    display: block;
    padding-bottom: 30px;
}
.dialogs__messageItem{
    font-size: 30px;
}
.dialogs__avatar{
    width: 100px;
    border-radius: 10px;
}
.dialogs__avatarWrapper{
    width: 100%;    
}
.dialogs__message{
    background-color: rgba(0,0,0,.2);
    text-align: center;
    width: 500px;
    height: 100px;
    display: block;
}
.temp__textarea{
    width: 600px;
    height: 300px;
    padding: 20px;
    display: block;
    margin: 0 auto;
    border: 5px solid tomato;
    border-radius: 10px;
    font-size: 40px;
    color: teal;
    margin-top: 100px;
}
.temp__buttonHolder{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.temp__button{
    width: 200px;
    height: 60px;
    background-color: tomato;
    color: white;
    font-size: 30px;
    text-align: center;
    border: none;
    border-radius: 10px;
    margin: 0 30px;
}