.dialogs{
    padding-bottom: 100px;
}
.title{
    text-align: center;
    font-size: 60px;
    padding: 50px 0;
    color: #ff7f3a;
}
.dialogsHolder{
    width: 800px;
    margin: 30px auto;
}
.dialogsItem{
    box-shadow: 2px 2px 2px #eee, -2px -2px 2px #eeeeee;
    margin: 20px 0;
    padding: 5px;
}
.name{
    color: #ff7f3a;
    font-size: 30px;
}
.message{
    color: #666666;
    font-size: 20px;
    padding-left: 150px;
}
.dialogsForm{
    margin: 100px auto 0 auto;
}
.userName{
    display: block;
    width: 600px;
    height: 40px;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #ff7f3a;
    margin: 0 auto 30px auto;
    font-size: 20px;
}
.userMessage{
    display: block;
    width: 600px;
    height: 300px;
    padding: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #ff7f3a;
    margin: 0 auto;
    font-size: 20px;
    resize: none;
}
.submitBtn{
    color: #ffffff;
    background-color: #ff7f3a;
    border: none;
    width: 150px;
    height: 50px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
    font-size: 30px;
}
